// ------ Top ------
.enavbar {
  background-color: #fff;
  left: 0;
  padding: 1.25em 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 5;

  @media (min-width: 768px) {
    position: relative;
  }
}
// ------ Header ------
.enavbar-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 3;

  @media (min-width: 768px) {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.enavbar-header-mobile-flex {
  box-sizing: content-box;
  height: 25px;
  padding: 5vw;
  visibility: hidden;
  width: 30px;

  @media (min-width: 768px) { display: none; }
}

.enavbar-header-logo {
  animation: rotate 0.8s linear;
  outline: none;
}

.enavbar-header-toggle {
  background-color: transparent;
  border: 0;
  display: block;
  padding: 5vw;
  position: relative;
  text-align: center;

  &:focus { outline: none; }

  @media (min-width: 768px) { display: none; }
}

.enavbar-header-toggle-icon {
  cursor: pointer;
  height: 25px;
  width: 30px;

  i {
    background-color: #000;
    border-radius: 2px;
    content: '';
    display: block;
    height: 4px;
    width: 100%;
  }
  i:nth-child(1) {
    animation: outT 0.8s backwards;
    animation-direction: reverse;
  }
  i:nth-child(2) {
    animation: outM 0.8s backwards;
    animation-direction: reverse;
    margin: 5px 0;
  }
  i:nth-child(3) {
    animation: outBtm 0.8s backwards;
    animation-direction: reverse;
  }
  &--opened {
    i:nth-child(1) {
      animation: inT 0.8s forwards;
    }
    i:nth-child(2) {
      animation: inM 0.8s forwards;
    }
    i:nth-child(3) {
      animation: inBtm 0.8s forwards;
    }
  }
}
// ------ Nav, sidenav ------
.enavbar-nav {
  align-items: center;
  background-color: #fff;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow-x: hidden;
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.5s;
  width: 0;
  z-index: 2;

  @media (min-width: 768px) {
    display: block;
    margin: 0 3.5vw;
    position: relative;
    width: auto;
  }

  &--opened {
    width: 100vw;

    @media (min-width: 768px) { width: auto; }
  }
}

.enavbar-nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: 768px) {
    display: flex;
    text-align: left;
  }
}

.enavbar-nav > ul > li {
  color: #333;
  display: block;
  font-size: 1.6em;
  font-weight: 700;
  line-height: 1.6em;
  padding: 0.875rem 0;
  text-decoration: none;

  @media (min-width: 768px) {
    display: flex;
    font-size: 0.875em;
    font-weight: 400;
    margin: 0 30px;
    text-align: left;

    &:nth-child(1) { flex: 1; }
  }
}

.enavbar-nav-link { cursor: pointer }

// ------ Animations ------
@keyframes inM {
  50%{transform:rotate(0deg);}
  100%{transform:rotate(45deg);}
}
@keyframes outM {
  50%{transform:rotate(0deg);}
  100%{transform:rotate(45deg);}
}
@keyframes inT {
  0%{transform: translateY(0px) rotate(0deg);}
  50%{transform: translateY(9px) rotate(0deg);}
  100%{transform: translateY(9px) rotate(135deg);}
}
@keyframes outT {
  0%{transform: translateY(0px) rotate(0deg);}
  50%{transform: translateY(9px) rotate(0deg);}
  100%{transform: translateY(9px) rotate(135deg);}
}
@keyframes inBtm {
  0%{transform: translateY(0px) rotate(0deg);}
  50%{transform: translateY(-9px) rotate(0deg);}
  100%{transform: translateY(-9px) rotate(135deg);}
}
@keyframes outBtm {
  0%{transform: translateY(0px) rotate(0deg);}
  50%{transform: translateY(-9px) rotate(0deg);}
  100%{transform: translateY(-9px) rotate(135deg);}
}
